@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: helvetica, sans-serif, arial;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.playfair {
  font-family: "Playfair";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.moon-dance {
  font-family: "Story Script", sans-serif;
}

.center-center {
  @apply flex justify-center items-center;
}

.wrapper {
  @apply container mx-auto px-4;
}


/* Custom button classes */
.animated-button {
  @apply py-3 px-6 rounded-full text-white font-bold transition-all duration-300 ease-in-out;
}

.buy-now-button {
  @apply bg-orange-500 hover:bg-orange-600 shadow-lg hover:shadow-2xl hover:scale-105 transform-gpu transition-all duration-300 ease-in-out;
}